h1 {
	color: red;
	text-align: center;
}

table {
	margin-left: 50px;
}

tr {
	font-weight: bold;
	background-color: orange;
}

tr.odd {
	background-color: yellow;
	color: red;
	font-weight: normal;
}

tr.even {
	background-color: cyan;
	color: green;
	font-weight: normal;
}

