@charset "ISO-8859-1";
h1, h3 {
	color: brown;
	text-align: center;
}
select, input {
	color: red;
}
table {
	align-content: center;
	border: thick dotted red;
	margin-left: 70pt;
	padding: 5px 5px 5px 5px;
}

body {
	color: blue;
}

.btn {
	text-align: center;
	color: red;
	letter-spacing: 5pt;

}